.gradientRed, .gradientOrange, .gradientBlue {
  position: absolute;
  width: 200px;
  height: 200px;
  filter: blur(90px);
  top: 0;
}

.gradientRed {
  left: 0;
  background: #ff5d5d;
}

.gradientBlue {
  right: 0;
  background: #5dc9ff;
}

.gradientOrange {
  left: 50%;
  transform: translateX(-50%);
  background: #FF6347;
}

.themeContainer {
  background: rgba(0, 0, 0, 0.59);
  border-radius: 20px;
  padding: 2rem;
}

